<form action="/emotions/<%= @emotion.id %>" method="post">
  <p><label>Feeling</label>
    <input name="feeling" type="text" placeholder="enter emotion here"></p>
  <input type="submit" value="Add to your database!">
</form>