<form action="/users" method="post">
  <p><label>Username</label>
    <input name="user[username]" type="text" placeholder="Enter username here"></p>
  <p><label>Email</label>
    <input name="user[email]" type="text" placeholder="Enter email here"></p>
  <p><label>Password</label>
    <input name="user[password]" type="password" placeholder="Enter password here"></p>
  <input type="submit" value="Register!">
</form>
